body{
    font-size: 20px;
}
table{
    margin: 0 auto;
    border-collapse:collapse;
}

tr:nth-child(2n){
    background: #ededed;
}

th{
    border-bottom: 2px solid #00bcb5;
    padding: 10px 50px;
    color: #808080;
}

td{
    border-bottom: 1px solid #ccc;
    color: #adadad;
    text-align: center;
}

.add{
    border-bottom: 1px solid #5bb54a;
    padding-right: 10px;
}

.del{
    border-bottom: 1px solid #d66652;
    padding-right: 10px;
}

.add a{
    text-decoration: none;
    padding: 2px 5px;
    color: #5bb54a;
}

.del a{
    text-decoration: none;
    padding: 2px 5px;
    color: #d66652;
}

.wrapp{
    margin-top: 10px;
    text-align: center;
}

.wrapp a{
    padding: 2px;
    text-decoration: none;
    border-bottom: 1px solid #d66652;
    color: #d66652;
    margin-right: 25px;
    transition: border .2s ease-in-out;
}

.wrapp span{
    color: #00bcb5;
}

.wrapp a:last-child{
    border-bottom: 1px solid #5bb54a;
    color: #5bb54a;
    margin-left: 25px;
}

.wrapp a:hover{
     border-bottom: 5px solid #d66652;
}

.wrapp a:last-child:hover{
     border-bottom: 5px solid #5bb54a;
}