<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mageServiceClient" class="com.epam.brest.task.clientservice.MageServiceClientImpl">
        <constructor-arg type="java.lang.String" value="http://localhost:8080/app-web-1.0-SNAPSHOT/rest/mage/"/>
    </bean>

    <bean id="magicScrollServiceClient" class="com.epam.brest.task.clientservice.MagicScrollServiceClientImpl">
        <constructor-arg type="java.lang.String" value="http://localhost:8080/app-web-1.0-SNAPSHOT/rest/scroll/"/>
    </bean>

    <!--  For jetty
        <bean id="mageServiceClient" class="com.epam.brest.task.clientservice.MageServiceClientImpl">
        <constructor-arg type="java.lang.String" value="http://localhost:8080/rest/mage/"/>
        </bean>

        <bean id="magicScrollServiceClient" class="com.epam.brest.task.clientservice.MagicScrollServiceClientImpl">
            <constructor-arg type="java.lang.String" value="http://localhost:8080/rest/scroll/"/>
        </bean>
    -->

</beans>