<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">


    <import resource="classpath:spring-dao-context.xml"/>

    <bean id="magicScrollService" class="com.epam.brest.task.service.MagicScrollServiceImpl"></bean>
    <bean id="mageService" class="com.epam.brest.task.service.MageServiceImpl"></bean>
</beans>