<web-app>

    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>com.epam.brest.courses.web.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/hello/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>WEB-INF/spring-context.xml</param-value>
        </init-param>
        <servlet-name>springDispatchServler</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>springDispatchServler</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

</web-app>