body{
    font-size: 20px;
}

span{
    color: #818181;
}

label{
    color: #6f6f6f;
}

.error_div{
	background-color: #EB2F2F;
}
/*Form*/
form{
    margin: 30px auto;
    text-align: center;
    width: 500px;
    padding-top: 20px;
    border-top: 2px solid #00bcb5;
}

input{
    margin-bottom: 10px;
    color: #adadad;
    font-size: 18px;
}

.for{
    float: right;
    margin-right: 120px;
}

.warn{
    border: 1px solid red;
    background: #FFCECE;
}

.sub{
    border: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #5bb54a;
    background: none;
    margin-top: 10px;
    color: #000;
    color: #5bb54a;
    transition: border .2s ease-in-out;
    width: 190px;
}

.sub:hover{
    border-bottom: 5px solid #5bb54a;
    cursor: pointer;
}